<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Submit Request</title>
</head>
<body>

<div style="width:100%;" align="center">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" style="background-color:#fff;" bgcolor="#fff;">
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="border: 20px solid #08b9aa;">
          <tr>
            <td width="20" align="left" valign="top" bgcolor="#fff" style="background-color:#fff;">&nbsp;</td>
            <td align="center" valign="top" bgcolor="#fff" style="background-color:#fff; color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:14px;"><br>
              <br>
            <br>
            <img src="http://noqnri.com/images/logo.png" style="max-width: 150px;">
            <div style="color:#ff0066; font-family:Georgia, Times New Roman, Times, serif; font-size:24px;">
            	Hi {name},
            </div><br>
                <br>
              <div style="color:#717171; font-family:Georgia, Times New Roman, Times, serif; font-size:24px;"> Your request has been sent,<br><br><br> You can check your enquiry status by clicking below link</div>
                <br>
<br>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="middle"></td>
                  </tr>
                  <tr>
                    <td height="65" align="center" valign="middle"><div style="color:#999; font-size:28px; font-family:Arial, Helvetica, sans-serif;">{msg}</div></td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle"></td>
                  </tr>
                </table>
                
<br>
<br>
<br>
<div style="color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:14px;"><b>Company Address</b> <br>
  {company_name} <br>
  Phone: {phone} <br>
  Email: {gmail} <br>
  Website: {website}</div>

<br>
<br>
<br></td>
            <td width="20" align="left" valign="top" bgcolor="#fff" style="background-color:#fff;">&nbsp;</td>
          </tr>
        </table>
    </td>
  </tr>
</table>

</div>

</body>
</html>